@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-clip-text {
    background-clip: text;
    background-image: radial-gradient(circle,rgb(34, 210, 55), cyan, violet,red);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation:gradient-shift 6s infinite alternate;
    background-size: 200% 100%;
  }
.fadeIn {
    animation: fadeIn 1s ease-in-out;
}
@keyframes gradient-shift{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}
textarea{
    resize: none;
}
